{% extends "global/base.html" %}
{% block contentee %}
{% load static %}
<div class="container">
 <br>
    <div class="row">

        <div  class="col-md informacoes_basicas">
            
            <h1>
                Quantidade de Reclamações: 
                 <span id="total de faq"></span></h1> 
            
        </div>

       
    </div>  

    <div class="row">
        
        <div class="col-md">
            <br>

            <h1>Locais com mais incidentes:</h1>
            <canvas id="produtos_mais_vendidos" width="250" height="200"></canvas>
        </div>
        
        <div class="col-md">
            <br>
            <h1>Chega por hoje: </h1>
            <canvas id="funcionarios_do_mes" width="250" height="200"></canvas>
        </div>

    </div>


</div>
<br>
<footer class="container">
    <br>
    <div class="row">
        <div style="color: white;" class="col-md centralizar">
          CNPJ: 00.000.000/0000-00
        </div>

        <div style="color: white;" class="col-md centralizar">
          2021 Pythonando. Todos os direitos reservados.
        </div>

        <div style="color: white;" class="col-md centralizar">
          email@email.com.br
        </div>
    </div>
    <br>

  </footer>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'global/js/js.js' %}"></script>
<script>
    
    window.onload = function(event){
        retorna_total_faq('{% url "gel:retorna_total_faq" %}');
        renderiza_produtos_mais_vendidos('{% url "gel:get_category_counts" %}');

}


</script>
{% endblock contentee %}