{% extends "global/base.html" %}
{% block contentee %}
{% load static %}
{% if user.is_authenticated %}

<div class="container">
 <br>
    <div class="row">

        <div  class="col-md informacoes_basicas">
            
            <h1>
                Quantidade de Reclamações: 
                 <span id="total de faq"></span></h1> 
            
        </div>

       
    </div>  

    <div class="row">
        
        <div class="col-md">
            <br>

            <h1>Maiores tipos de incidentes:</h1>
            <canvas id="get_category_counts" width="250" height="200"></canvas>
        </div>
        
        <div class="col-md">
            <br>
            <h1>Local com mais incidentes: </h1>
            <canvas id="get_location_counts" width="250" height="200"></canvas>
        </div>

    </div>


</div>
<br>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'global/js/js.js' %}"></script>
<script>

    window.onload = function(event){
        retorna_total_faq('{% url "gel:retorna_total_faq" %}');
        get_category_counts('{% url "gel:get_category_counts" %}');
        get_location_counts('{% url "gel:get_location_counts" %}');
}


</script>
{% endif %}
{% endblock contentee %}