.informacoes_basicas{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d4d7dc;
  height: 100px;
  margin-right: auto;
  border: 1px solid transparent;

  border-image: linear-gradient(to right top, #bd31c4, #8e3bb0, #643b97, #413579, #282c59);

  border-image-slice: 1;
  margin-left: 1%;
    


}

.icone{
  color: #404dc0;
  width: 40px;
 

}