<header class="headerr">
  <div class="headerr-heading">
    <a href="{% url 'gel:index' %}" class="headerr-link">
     {{site_setup.title}}
    </a>
  </div>
    
        {% if site_setup.show_menu %}
            <nav class="menuu">
              <ul class="menuu-list">
                {% for link in site_setup.menulink_set.all %}
                  <li class="menuu-item">
                    {% if link.new_tab %}
                      <a target="_blank" class="menuu-link" href="{{ link.url_or_path }}">
                        {{ link.text }}
                      </a>
                  {% else %}
                      <a class="menuu-link" href="{{ link.url_or_path }}">
                        {{ link.text }}
                      </a>
                    {% endif %}
                  </li>
                {% endfor %}
              
          
          {% endif %}
          
          {% if user.is_authenticated %}
            <li class="menuu-item">
              <a href="{% url 'gel:create_faq' %}" class="menuu-link">Sugestão e Vistoria</a>
            </li>
            <li class="menuu-item">
              <a href="{% url 'gel:update' %}" class="menuu-link">Atualizar</a>
            </li>
            <li class="menuu-item">
              <a href="{% url 'gel:login' %}" class="menuu-link">Sair</a>
            </li>
          {% else %}
            <li class="menuu-item">
              <a href="{% url 'gel:register' %}" class="menuu-link">Criar</a>
            </li>
            <li class="menuu-item">
                <a href="{% url 'gel:login' %}" class="menuu-link">Login</a>
            </li>
            {% endif %}
            </ul>
          </nav>
          
      
          
</header>

