<header class="header">
    <h1 class="header-heading">
      <a href="{% url 'gel:index' %}" class="header-link">
        gel
      </a>
    </h1>

    <nav class="menu">
        <ul class="menu-list">
          {% if user.is_authenticated %}
            <li class="menu-item">
              <a href="{% url 'gel:create_faq' %}" class="menu-link">Sugestão e Vistoria</a>
            </li>
            <li class="menu-item">
              <a href="{% url 'gel:update' %}" class="menu-link">Atualizar</a>
            </li>
            <li class="menu-item">
              <a href="{% url 'gel:login' %}" class="menu-link">Sair</a>
            </li>
          {% else %}
            <li class="menu-item">
              <a href="{% url 'gel:create_faq' %}" class="menu-link">Sugestão e Vistoria</a>
            </li>
            <li class="menu-item">
              <a href="{% url 'gel:register' %}" class="menu-link">Criar</a>
            </li>
            <li class="menu-item">
                <a href="{% url 'gel:login' %}" class="menu-link">Login</a>
            </li>
          {% endif %}
    
</header>